.menu{
    letter-spacing: 1;
    word-spacing: 11px;
    color: whitesmoke;
    background-color: darkblue;
  
   
  
}  
a{
  text-decoration: solid;
  color: whitesmoke;
  font-style: oblique;
  

}  
b{
  color: yellow;
  
}  